<div class="row pt-5">
    <div class="col">
        <div class="card mx-auto h-100">
            <div class="card-header">
                <h4>My Events</h4>
            </div>
            <div class="card-body">
                <p>Monitor events you're hosting and see real-time gifts being sent to you!</p>
            </div>
            <div class="card-footer">
                <a class="btn btn-secondary" href="/dashboard/events/">My Events</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mx-auto h-100">
            <div class="card-header">
                <h4>Send a gift</h4>
            </div>
            <div class="card-body">
                <p>Enter an event ID and send a gift to the host!</p>
            </div>
            <div class="card-footer">
                <button class="btn btn-secondary">Send Gifts</button>
            </div>
        </div>
    </div>
</div>