<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Giftr</title>
    {{> stylesheets}}
</head>

<body>
    <header class="navbar navbar-dark bg-clear w-100 fixed-top">
        <a href="/" class="navbar-brand">
            <h3>Giftr</h3>
        </a>
        <ul class="nav nav-right">
            <li class="nav-item"><a href="/users/new" class="nav-link{{#if signup}} active{{/if}}">Sign Up</a></li>
            <li class="nav-item"><a href="/users/signin" class="nav-link{{#if signin}} active{{/if}}">Sign In</a></li>
        </ul>
    </header>
    <div class="alert alert-danger" style="display: none"></div>
    <div class="alert alert-success" style="display: none"></div>
    <main>
        {{{body}}}
    </main>
</body>

{{> scripts}}

</html>