<section id="about">
    <center class="overlay py-5 flex-column">
        <h1 class="text-light">Gifting</h1>
        <h3 class="text-light">For the 21<sup>st</sup> century.</h3>
        <div class="mt-4">
            <button class="btn btn-outline-light d-inline mx-3">Attending Event</button>
            <button class="btn btn-light d-inline mx-3">Hosting Event</button>
        </div>
    </center>

</section>

<section class="d-flex p-5 my-5">
    <div class="card mx-auto">
        <h4 class="card-header px-5">Attending an event?</h4>
        <p class="card-body">If the event you're attending is registered with Giftr, you can send your host a digital
            gift to show them your appreciation!</p>
        <a href="/events" class="btn btn-secondary">Search Events</a>
    </div>
    <div class="card mx-auto">
        <h4 class="card-header px-5">Hosting an event?</h4>
        <p class="card-body">Need a way to recieve gifts that is convenient for both yourself and your guests? Register
            your event on Giftr!</p>
        <a href="/events/new" class="btn btn-secondary">Register Event</a>
    </div>
</section>