a.nav-link {
    color: white;
    border-bottom: 4px solid rgba(0,0,0,0);
    transition: all 0.15s linear;
    padding: 12px 8px;
    margin: 0px 8px;
}
a.nav-link:hover, a.active {
    border-bottom: 4px solid white;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    padding-top: 15%;
}
div.background {
    background-image: url('/images/landing.jpg');
    background-repeat: no-repeat;
    background-size: 100vw auto;
    background-attachment: fixed;
}
#about {
    height: calc(100vw * 620 / 1240);
}

.signupPage {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    padding-top: 20vh;
    background-color: rgba(0,0,0,0.6);
}
